* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

body {
    background-color: #292929;
    max-height: 100vh;
}


.img-logo2 {
    display: block;
    position: static;
    margin: 16px auto 0;
    width: 100px;
    height: 80px;
}

main {
    background: url("/assets/currency-Background.png");
    margin: 30px auto auto;
    border-radius: 20px;
    background-color: #efefef;
    width: 375px;
    padding: 20px;
}

.box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    padding: 20px;
    gap: 20px;
}

select,
input {
    width: 250px;
    height: 30px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 2px;
}

.box2 {
    border: 1px solid #5a26f3;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0 auto;

}

.arrow {
    margin: 20px 0;
    width: 25px;
    height: 40px;
}

p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    color: #fff;
    font-weight: bolder;
}

.paragrafo-box {
    color: #000000;
}

.img-currency,
.img-currency-Change {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.button-convert {
    color: #fff;
    background-color: rgb(123, 123, 123);
    cursor: pointer;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    opacity: 0.7;
}

.button-convert:hover {
    opacity: 0.9;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -3px;
    background: #2e2e2e;
    height: 50px;
    width: 100vw;
}

footer p {
    font-size: 15px;
}